<div class="container">
  <div class="search-box">
    <p class="search-box__word">検索ワード：</p>
    <form
      class="search-box__form"
      (ngSubmit)="routeSearch(searchControl.value)"
    >
      <input
        class="search-box__input"
        type="text"
        placeholder="渋谷、JavaScript、実践..."
        autocomplete="off"
        [matAutocomplete]="auto"
        [formControl]="searchControl"
        #target
      />
      <button
        class="search-box__submit"
        (click)="routeSearch(searchControl.value)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionActivated)="setSearchQuery($event.option?.value)"
      (optionSelected)="routeSearch($event.option?.value)"
    >
      <mat-option *ngFor="let option of searchOptions" [value]="option.name">{{
        option.name
      }}</mat-option>
    </mat-autocomplete>
  </div>
  <mat-divider></mat-divider>

  <app-search-result></app-search-result>
</div>
