.result {
  background: rgb(23, 35, 45);
  padding: 24px;
  height: 100vh;
}

.result-header {
  &__keyword {
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__keyword--col {
    color: #fff;
  }
}

.result-header mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.result-list {
  width: 60%;
  text-align: center;
  margin: 24px auto;
  &__hits {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
  }
  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 1fr;
    gap: 16px;
    overflow: hidden;
  }
  &__thumbnail {
    position: relative;
  }
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  &__thumbnail:hover img {
    filter: grayscale(50%) blur(2px);
  }
  &__thumbnail:hover &__icon {
    display: grid;
    place-items: center;
    color: #47c5fc;
    background: rgba(25, 39, 53, 0.6);
  }
  &__body {
    text-align: left;
  }
  &__body--dark {
    color: rgba(255, 255, 255, 0.6);
  }
  &__body:hover {
    color: #47c5fc;
  }
}

mat-divider {
  margin: 16px 0;
}
