<header class="header">
  <a class="logo" routerLink="/"
    ><img
      src="assets/images/logo-grad.svg"
      alt="eduu"
      width="100px"
      height="32px"
  /></a>
  <p class="description">スキル開発ポータルメディア</p>
</header>

<div class="main">
  <h1 class="main__title">ページが見つかりません...</h1>
  <div class="main__body">
    <p>お探しのページが見つかりません。</p>
    <p>
      一時的にアクセスできない状況か、移動もしくは削除された可能性があります。
    </p>
    <a mat-flat-button routerLink="/" class="main__btn" color="primary">
      <span>トップへ戻る</span>
    </a>
  </div>
</div>
