<nav mat-tab-nav-bar class="nav">
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
  <ng-container *ngIf="childData?.article">
    <a
      class="nav__edit"
      mat-tab-link
      [routerLink]="childData?.article.id"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      >記事編集</a
    >
  </ng-container>
</nav>

<router-outlet (activate)="onReceive($event)"></router-outlet>
