<ng-container *ngIf="user$ | async as user">
  <nav mat-tab-nav-bar class="nav">
    <a
      mat-tab-link
      routerLink="create"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      新規作成
    </a>
    <ng-container *ngIf="user.isAdmin">
      <a
        mat-tab-link
        routerLink="editor-article-list"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        記事一覧
      </a>
    </ng-container>
    <ng-container *ngIf="childData?.article">
      <a
        class="nav__edit"
        mat-tab-link
        [routerLink]="childData?.article.id"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        >記事編集</a
      >
    </ng-container>
  </nav>

  <router-outlet (activate)="onReceive($event)"></router-outlet>
</ng-container>
