<div class="header">

  <div class="header__left">
    <button class="header__menu" mat-icon-button><mat-icon>menu</mat-icon></button>
    <a class="header__logo" href="">NUDE</a>
  </div>

  <div class="buttons">
    <button class="buttons__button" mat-button>
      <mat-icon>search</mat-icon></button>
    <button class="buttons__button" mat-button>
      <mat-icon>notifications</mat-icon></button>
    <button class="buttons__button" mat-button [matMenuTriggerFor]="menu">
      <figure class="avatar"></figure>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>マイページ</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </div>
</div>
