@import 'mixins';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #212121;
  box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.38);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  @include sp {
    padding: 8px;
  }
  &__logo,
  &__nav {
    color: #fff;
    margin-left: 16px;
    @include sp {
      margin-left: 0;
      width: 40px;
    }
  }
  &__logo {
    margin-right: 16px;
    @include sp {
      width: 80px;
    }
  }
  &__description {
    font-size: 14px;
    color: #fff;
    @include sp {
      display: none;
    }
  }
  &__spacer {
    flex: 1;
  }
  &__login {
    color: #fff;
    padding: 8px 16px;
    line-height: 1;
    @include sp {
      font-size: 13px;
      padding: 4px 8px;
    }
  }
  &__avatar {
    background: #fff center/cover;
    margin-left: 16px;
  }
}

.login-baloon {
  position: absolute;
  bottom: -32px;
  right: 24px;
  display: inline-block;
  padding: 8px 12px;
  min-width: 120px;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border-radius: 2px;
  &:before {
    content: '';
    position: absolute;
    top: -24px;
    right: 16px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
  @include sp {
    font-size: 13px;
    right: 16px;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__btn {
    display: flex;
    place-content: center;
    place-items: center;
    background: #212121;
    color: #fff;
    border-radius: 2px;
    padding: 8px 16px;
    @include sp {
      padding: 8px;
    }
    &:hover {
      background: #303030;
    }
    mat-icon {
      margin-right: 8px;
      @include sp {
        margin-right: 0;
      }
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    @include sp {
      &--question,
      &--create {
        display: none;
      }
    }
  }
  &__text {
    @include sp {
      display: none;
    }
  }
}
