<div class="header">
  <button class="navigation" mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo" href="">LOGO</a>
  <span class="spacer"></span>

  <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
    <input
      class="search__input"
      type="text"
      placeholder="スキルや場所、人名で探す"
      autocomplete="off"
      [matAutocomplete]="auto"
      [formControl]="searchControl"
    />
    <button
      type="submit"
      (click)="routeSearch(searchControl.value)"
      mat-icon-button
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionActivated)="setSearchQuery($event.option?.value)"
    (optionSelected)="routeSearch($event.option?.value)"
  >
    <mat-option *ngFor="let option of searchOptions" [value]="option.name">{{
      option.name
    }}</mat-option>
  </mat-autocomplete>

  <ng-template #default>
    <button mat-button routerLink="/login" class="login">
      ログイン
    </button>
  </ng-template>

  <ng-container *ngIf="user$ | async as user; else default">
    <button
      class="avatar"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [style.background-image]="'url(' + user.photoURL + ')'"
    ></button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">
        <mat-icon>account_circle</mat-icon>
        <span>マイページ</span>
      </button>
      <button mat-menu-item routerLink="/user/setting">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider class="divider"></mat-divider>

      <button mat-menu-item routerLink="/editor">
        <mat-icon>edit</mat-icon>
        <span>管理者メニュー</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
