<div class="header">
  <button class="header__nav" mat-icon-button (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="header__logo" routerLink="/"
    ><img
      src="assets/images/logo-grad3.svg"
      alt="eduu"
      width="100px"
      height="32px"
  /></a>
  <p class="header__description">学びの場レビューメディア</p>
  <span class="header__spacer"></span>

  <div class="menu">
    <button class="menu__btn" (click)="openSearchDialog()">
      <mat-icon>search</mat-icon>
      <p>検索する</p>
    </button>
    <button class="menu__btn" (click)="openRequestDialog()">
      <mat-icon>hearing</mat-icon>
      <p>質問する</p>
    </button>
    <button routerLink="/editor/editor" class="menu__btn">
      <mat-icon>web</mat-icon>
      <p>ページを作る</p>
    </button>
  </div>

  <ng-template #notLogin>
    <button
      [disabled]="authService.isProcessing"
      mat-button
      routerLink="/login"
      class="header__login"
    >
      {{ authService.isProcessing ? 'ログイン中' : 'ログイン' }}
    </button>
  </ng-template>

  <ng-container *ngIf="user$ | async as user; else notLogin">
    <button
      class="header__avatar"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [style.background-image]="'url(' + user.photoURL + ')'"
    ></button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/user/{{ user.uid }}">
        <mat-icon>account_circle</mat-icon>
        <span>マイページ</span>
      </a>
      <a mat-menu-item routerLink="/user/{{ user.uid }}/setting">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider class="divider"></mat-divider>

      <ng-container *ngIf="user.isAdmin">
        <a mat-menu-item routerLink="/editor">
          <mat-icon>edit</mat-icon>
          <span>管理者メニュー</span>
        </a>
      </ng-container>
    </mat-menu>
  </ng-container>
</div>
