.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: rgba(38, 50, 56);
  border-bottom: 1px solid rgba(55, 71, 79, 0.6);
  box-shadow: 1px 1px 1px rgba(55, 71, 79, 0.6);
}

.logo,
.navigation {
  color: #fff;
  margin-left: 16px;
}

.spacer {
  flex: 1;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 320px;
  background: #314047;
  border-radius: 20px;
  padding-left: 16px;
  &__input {
    flex: 1;
    background: #314047;
    border-radius: 20px;
    border: none;
    color: #fff;
    outline: none;
  }
  &__input::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  button {
    height: 40px;
    border-radius: 20px;
    background: #314047;
    color: #fff;
    outline: none;
  }
}

.login {
  color: #fff;
  padding: 16px;
  line-height: 1;
}

.avatar {
  background: #fff center/cover;
  margin-left: 16px;
}
