.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: rgba(38, 50, 56);
  border-bottom: 1px solid rgba(55, 71, 79, 0.6);
  box-shadow: 1px 1px 1px rgba(55, 71, 79, 0.6);
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo,
  &__menu {
    color: #fff;
    margin-left: 16px;
  }
}

.account-menu {
  background-color: rgba(38, 50, 56);
}

.buttons {
  display: flex;
  align-items: center;
  &__button {
    color: #fff;
    padding: 16px;
    line-height: 1;
  }
}

.avatar {
  background: #fff center/cover;
  margin-left: 16px;
}
