<div class="wrapper">
  <div class="container">
    <div class="footer">
      <div class="footer__main">
        <div class="footer__title">Slow and sure.</div>
        <p class="footer__copy">&copy;Yusuke Gunji Works</p>
        <a
          href="https://github.com/yusukegunji"
          target="_blank"
          class="footer__icon"
        >
          <img src="/assets/images/github-icon.svg" alt="github"
        /></a>

        <a
          href="https://twitter.com/yuutan_0202"
          target="_blank"
          class="footer__icon"
        >
          <img src="/assets/images/twitter-icon.svg" alt="twitter"
        /></a>
      </div>

      <div class="footer__sub">
        <div class="footer__mail">
          <p>お問い合わせはこちら</p>
          <a href="mailto:edu.univ.japan@gmail.com"
            ><mat-icon class="footer__btn">send</mat-icon></a
          >
        </div>
        <a class="footer__logo" routerLink="/"
          ><img src="assets/images/logo-grad4.svg" alt="eduu"
        /></a>
      </div>
    </div>
  </div>
</div>
