<h1 matDialogTitle class="dialog-header">{{ data.article.name }}のユーザー</h1>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="students">
    <figure class="students__avatar">
      <img src="https://dummyimage.com/80x80.png" alt="" />
    </figure>
    <a href="https://twitter.com/yuutan_0202" class="students__name">
      @yuutan_0202
    </a>
    <p class="students__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt dolores
      enim excepturi illum consequuntur aliquid nisi quia ullam eligendi placeat
      voluptates nostrum fuga, ipsam iure, assumenda ut ab. Quos, quia?
    </p>
    <button mat-flat-button class="students__button">話をきく</button>
    <figure class="students__avatar">
      <img src="https://dummyimage.com/80x80.png" alt="" />
    </figure>
    <a href="https://twitter.com/yuutan_0202" class="students__name">
      @yuutan_0202
    </a>
    <p class="students__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt dolores
      enim excepturi illum consequuntur aliquid nisi quia ullam eligendi placeat
      voluptates nostrum fuga, ipsam iure, assumenda ut ab. Quos, quia?
    </p>
    <button mat-flat-button class="students__button">話をきく</button>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button mat-fab color="" matDialogClose class="close">
    <mat-icon class="close__icon">close</mat-icon>
  </button>
</mat-dialog-actions>
