<h1 matDialogTitle class="dialog-header">{{ data.article.name }}のユーザー</h1>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="student" *ngFor="let student of data.students">
    <a class="student__avatar" routerLink="/user/{{ student.user.uid }}">
      <img src="{{ student.user.photoURL }}" alt="" />
    </a>
    <a class="student__name" routerLink="/user/{{ student.user.uid }}">
      {{ student.user.name }}
    </a>
    <p class="student__description">
      {{ student.user.profile }}
    </p>
    <button mat-flat-button color="primary" class="student__btn">
      話をきく
    </button>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button mat-flat-button matDialogClose class="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
