.dialog-header {
  text-align: center;
}

.student {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  place-items: center;
  &__avatar {
    overflow: hidden;
    img {
      text-align: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 16px auto;
    }
  }
  &__description {
    margin: 16px 0;
  }
  &__name {
    text-align: center;
    &:hover {
      opacity: 0.6;
    }
  }
  &__btn {
    width: 160px;
    margin-bottom: 24px;
  }
}

.close {
  margin-left: auto;
  &__icon {
    color: white;
  }
}
