<div class="container">
  <div class="title">
    <h2>Genre Search</h2>
    <p>ジャンルから探す</p>
  </div>

  <div class="grid">
    <div
      *ngFor="let category of categoryGroup; index as i"
      (click)="routeCategoryFilter(category.value)"
      class="grid__item"
    >
      <figure>
        <img src="assets/images/category-{{ category.value | category }}.png" />
      </figure>
      <div class="grid__body">
        <h3>
          {{ category?.value }}
        </h3>
        <p>{{ category?.count }} items</p>
      </div>
    </div>
  </div>

  <div class="tags">
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip *ngFor="let tag of tags" [value]="tag.value">
        <a (click)="routeTagFilter(tag.value)"
          ><span>🏷</span> {{ tag.value }} ( {{ tag.count }} )</a
        >
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
