<div class="container">
  <h2 class="title">ジャンルからさがす</h2>
  <div class="grid">
    <mat-card
      *ngFor="let category of categoryGroup"
      (click)="routeCategoryFilter(category.value)"
    >
      <img mat-card-image src="{{ category.photoURL }}" />
      <mat-card-content class="grid__txt">
        {{ category.value }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tags">
    <h3 class="tags__title">注目のキーワード</h3>
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip *ngFor="let tag of tags" [value]="tag.value">
        <a (click)="routeTagFilter(tag.value)"
          >{{ tag.value }}({{ tag.count }})</a
        >
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-divider></mat-divider>
</div>
