@import 'mixins';

.title {
  margin-bottom: 24px;
  font-size: 20px;
  @include sp {
    margin-top: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  cursor: pointer;
  @include sp {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    margin: 0 auto;
  }
  &__txt {
    text-align: center;
  }
}

.tags {
  margin-top: 24px;
  &__title {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
  }
}

mat-divider {
  margin: 80px 0 24px;
}
