<div class="container">
  <h2 class="title">ジャンルからさがす</h2>
  <div class="grid">
    <mat-card
      *ngFor="let category of categoryGroup"
      [routerLink]="'/categories/' + category.value"
    >
      <img matCardImage src="{{ category.photoURL }}" />
      <mat-card-content>
        {{ category.value }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tags">
    <h3 class="tags__title">人気のタグ</h3>
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip *ngFor="let tag of tags" [value]="tag.value">
        <a [routerLink]="'/tags/' + tag.value"
          >{{ tag.value }}({{ tag.count }})</a
        >
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
