rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if request.auth.uid == resource.data.uid;
    }
    match /users/{userId}/private/twitter {
      allow read: if false;
      allow write: if request.auth.uid == userId;
    }
    match /articles/{articleId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.auth.uid == '8w4yczmaTqcqX8YxvrIlGpg96Vf2' || request.auth.uid == '3B0SHPilaSdK1IMBAgl455Zp8gN2';
      allow delete: if request.auth.uid == '8w4yczmaTqcqX8YxvrIlGpg96Vf2' || request.auth.uid == '3B0SHPilaSdK1IMBAgl455Zp8gN2';
    }
    match /articles/{teacherId}/private/twitter {
      allow read: if true;
      allow create: if true;
      allow update: if request.auth.uid == '8w4yczmaTqcqX8YxvrIlGpg96Vf2' || request.auth.uid == '3B0SHPilaSdK1IMBAgl455Zp8gN2';
      allow delete: if request.auth.uid == '8w4yczmaTqcqX8YxvrIlGpg96Vf2' || request.auth.uid == '3B0SHPilaSdK1IMBAgl455Zp8gN2';
    }
  }
}
