<mat-tab-group animationDuration="0ms">
  <mat-tab label="記事一覧"></mat-tab>
  <mat-tab label="記事作成">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="edit-column">
        <div class="edit-column__left">
          <h2>記事タイトル</h2>
          <mat-form-field appearance="outline">
            <input matInput formControlName="title" #title required />
            <mat-hint align="end">{{ title.value.length }} / 150文字</mat-hint>
          </mat-form-field>
          <mat-divider></mat-divider>

          <h2>メイン画像</h2>
          <div class="main-img">
            <img *ngIf="srcs?.thumbnailURL" [src]="srcs.thumbnailURL" alt="" />
            <p class="note" *ngIf="!srcs.thumbnailURL">
              ※ 1280px x 720px
            </p>
            <input
              type="file"
              style="display: none;"
              #thumbnailInput
              (change)="setImage($event, 'thumbnailURL')"
              accept=".png, .img, .jpeg"
            />
            <button
              type="button"
              (click)="thumbnailInput.click()"
              mat-mini-fab
              color=""
              class="img-button"
            >
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <p class="file-name" *ngIf="!srcs.thumbnailURL">
              ファイルが選択されていません
            </p>
          </div>
          <mat-divider></mat-divider>

          <h2>サービス名</h2>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" #name required />
            <mat-hint align="end">{{ name.value.length }} / 50文字</mat-hint>
          </mat-form-field>

          <h2>サービスロゴ</h2>
          <div class="logo-img">
            <img *ngIf="srcs?.logo" [src]="srcs.logo" alt="" />
            <p class="note" *ngIf="!srcs.logo">
              ※ 800px x 800px
            </p>
            <input
              type="file"
              style="display: none;"
              #logoInput
              (change)="setImage($event, 'logo')"
              accept=".png, .img, .jpeg"
            />
            <button
              type="button"
              (click)="logoInput.click()"
              mat-mini-fab
              color=""
              class="img-button"
            >
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <p class="file-name" *ngIf="!srcs.logo">
              ファイルが選択されていません
            </p>
          </div>

          <h2>タイプ</h2>
          <mat-radio-group
            color="primary"
            aria-label="Select an option"
            formControlName="type"
          >
            <mat-radio-button value="1">スクール</mat-radio-button>
            <mat-radio-button value="2">オンラインサロン</mat-radio-button>
          </mat-radio-group>

          <h2>カテゴリー</h2>
          <mat-form-field>
            <mat-select formControlName="categorys">
              <mat-option
                *ngFor="let category of categoryGroup"
                [value]="category.value"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <div class="edit-column__center">
          <h2>サービスの特徴</h2>
          <h3>イメージ画像1</h3>
          <div class="sub-img">
            <img *ngIf="srcs?.image1" [src]="srcs.image1" alt="" />
            <p class="note" *ngIf="!srcs.image1">
              ※ 800px x 800px
            </p>
            <input
              type="file"
              style="display: none;"
              #image1Input
              (change)="setImage($event, 'image1')"
              accept=".png, .img, .jpeg"
            />
            <button
              type="button"
              (click)="image1Input.click()"
              mat-mini-fab
              color=""
              class="img-button"
            >
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <p class="file-name" *ngIf="!srcs.image1">
              ファイルが選択されていません
            </p>
          </div>

          <h3>タイトル</h3>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="featureTitle1"
              #featureTitle1
              required
            />
            <mat-hint align="end"
              >{{ featureTitle1.value.length }} / 50文字</mat-hint
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="feature">
            <textarea
              matInput
              formControlName="featureBody1"
              #featureBody1
              matTextareaAutosize
              [matAutosizeMinRows]="4"
            ></textarea>
            <mat-hint align="end"
              >{{ featureBody1.value.length }} / 200文字</mat-hint
            >
          </mat-form-field>
          <mat-divider></mat-divider>

          <h3>イメージ画像2</h3>
          <div class="sub-img">
            <img *ngIf="srcs?.image2" [src]="srcs.image2" alt="" />
            <p class="note" *ngIf="!srcs.image2">
              ※ 800px x 800px
            </p>
            <input
              type="file"
              style="display: none;"
              #image2Input
              (change)="setImage($event, 'image2')"
              accept=".png, .img, .jpeg"
            />
            <button
              type="button"
              (click)="image2Input.click()"
              mat-mini-fab
              color=""
              class="img-button"
            >
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <p class="file-name" *ngIf="!srcs.image2">
              ファイルが選択されていません
            </p>
          </div>

          <h3>タイトル</h3>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="featureTitle2"
              #featureTitle2
              required
            />
            <mat-hint align="end"
              >{{ featureTitle2.value.length }} / 50文字</mat-hint
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="feature">
            <textarea
              matInput
              formControlName="featureBody2"
              #featureBody2
              matTextareaAutosize
              [matAutosizeMinRows]="4"
            ></textarea>
            <mat-hint align="end"
              >{{ featureBody2.value.length }} / 200文字</mat-hint
            >
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <div class="edit-column__right">
          <h2>プラン</h2>
          <mat-form-field appearance="outline" class="feature">
            <textarea
              matInput
              formControlName="plan"
              #plan
              matTextareaAutosize
              [matAutosizeMinRows]="10"
            ></textarea>
            <mat-hint align="end">{{ plan.value.length }} / 400文字</mat-hint>
          </mat-form-field>

          <h2>サービスURL</h2>
          <mat-form-field appearance="outline">
            <input matInput formControlName="serviceURL" required />
          </mat-form-field>
          <mat-slide-toggle color="primary">非公開 / 公開</mat-slide-toggle>

          <button
            mat-fab
            color="primary"
            class="submit-button"
            [disabled]="form.invalid"
          >
            GO
          </button>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="メンバー管理"> </mat-tab>
</mat-tab-group>
