@import '~@angular/material/theming';

.block-title {
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 16px;
  border-left: solid 8px #424242;
  border-radius: 2px;
  margin-top: 16px;
  background: #fafafa;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin: 16px;
}

mat-radio-button {
  margin-right: 16px;
}

.type,
.image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 24px;
  &__category,
  &__main {
    margin-right: 24px;
  }
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  &__main-img {
    position: relative;
    width: 320px;
    height: 180px;
    border: dashed 1px;
    margin: 0 auto;
    button {
      position: absolute;
      bottom: 0;
      right: -48px;
    }
    &--sp {
      width: 192px;
      height: 108px;
    }
  }
  &__logo-img {
    position: relative;
    width: 80px;
    height: 80px;
    border: dashed 1px;
    margin: 0 auto;
    button {
      position: absolute;
      bottom: 0;
      right: -48px;
    }
  }
  &__img-btn {
    position: absolute;
    bottom: 0;
    right: -48px;
  }
  &__note {
    font-size: 9px;
    opacity: 0.6;
  }
  &__file-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    opacity: 0.6;
  }
  &__tool {
    font-size: 14px;
    color: rgba(#424242, 0.8);
    text-align: right;
    a {
      color: #2aa1f1;
    }
  }
}

.type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 24px;
  &__category {
    margin-right: 24px;
  }
  &__radio {
    text-align: center;
  }
}

.features {
  display: flex;
  align-items: center;
  &__icon {
    width: 40px;
    height: 40px;
    color: #2aa1f1;
    margin-right: 8px;
  }
}

.plan {
  display: grid;
  grid-template-columns: 1fr 2fr 120px 40px;
  gap: 16px;
  &__btns {
    width: 40px;
    display: grid;
    place-content: center;
    button {
      width: 32px;
      height: 32px;
      margin: 0 0 8px 0;
      display: grid;
      place-content: center;
    }
  }
}

.teacher {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 16px;
  &__btns {
    display: grid;
    place-content: center;
    button {
      width: 32px;
      height: 32px;
      margin: 0 0 8px 0;
      display: grid;
      place-content: center;
    }
  }
}

.submit-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
