<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container container--editor">
    <h2 class="block-title">サービス名</h2>
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" #name required />
      <mat-hint align="end"
        >{{ name.value.length }} / {{ MAX_NAME_LENGTH }}文字</mat-hint
      >
    </mat-form-field>

    <div class="type">
      <div class="type__category">
        <h2 class="block-title">カテゴリー</h2>
        <mat-form-field>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let category of categoryGroup"
              [value]="category.value"
            >
              {{ category.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="type__type">
        <h2 class="block-title">タイプ</h2>
        <mat-radio-group
          color="primary"
          aria-label="Select an option"
          formControlName="type"
          class="type__radio"
        >
          <mat-radio-button value="school">スクール</mat-radio-button>
          <mat-radio-button value="salon">オンラインサロン</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="image">
      <div class="image__main">
        <h2 class="block-title">メイン画像</h2>
        <div class="image__main-img">
          <img
            *ngIf="srcs?.thumbnailURL || article?.thumbnailURL"
            [src]="srcs.thumbnailURL || article.thumbnailURL"
            alt=""
          />
          <p class="image__note" *ngIf="!srcs?.thumbnailURL">
            ※ 1280px x 720px
          </p>
          <input
            type="file"
            style="display: none;"
            #thumbnailInput
            (change)="setImage($event, 'thumbnailURL')"
            accept="image/png, image/jpeg"
          />
          <button
            type="button"
            (click)="thumbnailInput.click()"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>add_photo_alternate</mat-icon>
          </button>
          <p
            class="image__file-name"
            *ngIf="!srcs?.thumbnailURL && !article?.thumbnailURL"
          >
            ファイルが選択されていません
          </p>
        </div>
      </div>

      <div class="image__logo">
        <h2 class="block-title">サービスロゴ</h2>
        <div class="image__logo-img">
          <img
            *ngIf="srcs?.logo || article?.logo"
            [src]="srcs.logo || article.logo"
            alt=""
          />
          <p class="image__note" *ngIf="!srcs?.logo">
            ※ 800px x 800px
          </p>
          <input
            type="file"
            style="display: none;"
            #logoInput
            (change)="setImage($event, 'logo')"
            accept="image/png, image/jpeg"
          />
          <button
            type="button"
            (click)="logoInput.click()"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>add_photo_alternate</mat-icon>
          </button>
          <p class="image__file-name" *ngIf="!srcs?.logo && !article?.logo">
            ファイルが選択されていません
          </p>
        </div>
      </div>
    </div>

    <h2 class="block-title">記事タイトル</h2>
    <mat-form-field appearance="outline">
      <input matInput formControlName="title" #title required />
      <mat-hint align="end"
        >{{ title.value.length }} / {{ MAX_TITLE_LENGTH }}文字</mat-hint
      >
    </mat-form-field>

    <h2 class="block-title">サービスの特徴</h2>
    <div
      formArrayName="features"
      *ngFor="let feature of features.controls; index as i"
      class="features"
    >
      <mat-icon class="features__icon">check_circle_outline</mat-icon>
      <mat-form-field appearance="outline">
        <input matInput #feature required [formControlName]="i" />
        <mat-hint align="end"
          >{{ feature.value.length }} / {{ MAX_FEATURE_LENGTH }}文字</mat-hint
        >
      </mat-form-field>
    </div>

    <h2 class="block-title">トピックス</h2>
    <quill-editor
      formControlName="topics"
      [styles]="{ height: '320px' }"
    ></quill-editor>

    <h2 class="block-title">プラン</h2>
    <ng-container
      formArrayName="plans"
      *ngFor="let plan of plans.controls; index as i"
    >
      <div [formGroupName]="i" class="plan">
        <mat-form-field appearance="outline">
          <mat-label>プラン名</mat-label>
          <input matInput formControlName="planName" #planName required />
          <mat-hint align="end"
            >{{ planName.value.length }} /
            {{ MAX_PLANNAME_LENGTH }}文字</mat-hint
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="feature">
          <mat-label>プラン内容</mat-label>
          <textarea
            matInput
            formControlName="planBody"
            #planBody
            matTextareaAutosize
            [matAutosizeMinRows]="1"
          ></textarea>
          <mat-hint align="end"
            >{{ planBody.value.length }} /
            {{ MAX_PLANBODY_LENGTH }}文字</mat-hint
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>価格</mat-label>
          <input matInput formControlName="plice" #plice required />
          <mat-hint align="end"
            >{{ plice.value.length }} / {{ MAX_PLICE_LENGTH }}文字</mat-hint
          >
        </mat-form-field>

        <div class="plan__btns">
          <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="removePlanControl(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="addPlanControl()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>

    <h2 class="block-title">サービスURL</h2>
    <mat-form-field appearance="outline">
      <input matInput formControlName="serviceURL" required />
    </mat-form-field>

    <h2 class="block-title">講師/メンターのTwitterID</h2>

    <ng-container
      formArrayName="teacherIds"
      *ngFor="let ctrl of teacherIds.controls; index as i"
    >
      <div class="teacher">
        <mat-form-field appearance="outline">
          <mat-label>Twitterのスクリーンネーム(@は省略)</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>

        <div class="teacher__btns">
          <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="removeTeacherIdControl(i)"
            class="remove-btn"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="addTeacherIdControl()"
            class="add-btn"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>

    <h2 class="block-title">タグ</h2>
    <mat-form-field>
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #tagsInput
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)"
          formControlName="tags"
          placeholder="JavaScript, 東京, オンライン..."
        />
      </mat-chip-list>
    </mat-form-field>

    <ng-container *ngIf="article">
      <h2 class="block-title">記事ID</h2>
      <mat-form-field appearance="outline">
        <input matInput formControlName="id" required />
      </mat-form-field>
    </ng-container>

    <button
      class="submit-btn"
      mat-fab
      color="primary"
      [disabled]="form.invalid || processing"
    >
      GO
    </button>
  </div>
</form>
