<div class="container" *ngIf="user$ | async">
  <div class="grid" *ngIf="articles$ | async as articles; else default">
    <ul class="article" @fade *ngFor="let article of articles">
      <li routerLink="/article-detail/{{ article.id }}" class="article">
        <picture @fade class="article__thumbnail">
          <source
            media="(min-width: 1366px)"
            [srcset]="article.thumbnailURL"
            sizes="100vw"
            alt=""
          />
          <img
            media="(min-width: 640px)"
            [srcset]="article.spThumbnailURL"
            sizes="100vw"
            alt=""
          />
        </picture>

        <div class="article__body">
          <div class="article__top">
            <h3 class="article__name">{{ article.name }}</h3>
            <h4 class="article__title">{{ article.title }}</h4>
          </div>

          <div class="article__description">
            <p class="article__date">
              {{ article.createdAt.toDate() | date: 'yyyy/MM/dd' }} 追加
            </p>
            <button class="article__category">
              <p class="article__category-text">{{ article.category }}</p>
            </button>
            <span class="article__spacer"></span>
            <p class="article__like">
              ❤️<span>{{ article.likeCount }}</span>
            </p>
            <p class="article__pin">
              📌<span>{{ article.pinCount }}</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #default>
    <div class="default" *ngIf="!isloading">
      <p class="default__text">
        ピン留めしているサービスはまだありません。
      </p>
      <p class="default__text">
        気になるサービスをピン留めして、すぐチェックできるようにしましょう。
      </p>
    </div>
  </ng-template>

  <ng-container *ngIf="isloading">
    <div class="loading">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </ng-container>
</div>
