<div class="comment" *ngFor="let comment of comments$ | async as comments">
  <div
    class="comment__avatar"
    [style.background-image]="'url(' + comment.user.photoURL + ')'"
  ></div>
  <div class="comment__body">
    <div class="comment__header">
      <p class="comment__name">{{ comment.user.name }}</p>
      <p class="comment__date">
        {{ comment.updatedAt.toDate() | date: 'yyyy/MM/dd HH:mm' }}
      </p>
    </div>
    <p class="comment__text">
      {{ comment.body }}
    </p>
  </div>
</div>
