<div class="comment" *ngFor="let comment of comments$ | async as comments">
  <div
    class="comment__avatar"
    [style.background-image]="'url(' + comment.user.photoURL + ')'"
  ></div>
  <div class="comment__body">
    <div class="comment__header">
      <p class="comment__name">{{ comment.user.name }}</p>
      <p class="comment__date">
        {{ comment.updatedAt.toDate() | date: 'yyyy/MM/dd HH:mm' }}
      </p>
    </div>
    <p class="comment__text">
      {{ comment.body }}
    </p>
  </div>
  <ng-container *ngIf="user$ | async as user">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      *ngIf="user.uid == comment.uId"
      class="comment__btn"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>edit</mat-icon>編集</button>
      <button mat-menu-item><mat-icon>delete</mat-icon>削除</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="user$ | async as user">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      *ngIf="user.uid !== comment.uId"
      class="comment__btn comment__btn--flag"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a
        href="https://twitter.com/messages/compose?recipient_id=4912264663&ref_src=twsrc%5Etfw"
        target="_blank"
        mat-menu-item
        ><mat-icon>flag</mat-icon>報告</a
      >
    </mat-menu>
  </ng-container>
</div>
