<div class="comment">
  <div class="comment__avatar"></div>
  <div class="comment__body">
    <div class="comment__header">
      <p class="comment__name">test name</p>
      <p class="comment__date">yyyy/MM/dd</p>
    </div>
    <p class="comment__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      voluptatum adipisci reiciendis beatae ea neque amet debitis eos,
      recusandae alias, id veniam possimus sunt! Quo neque inventore dolorem ab
      totam?
    </p>
  </div>
</div>
