@import 'mixins';
@import '~@angular/material/theming';

.container {
  @include sp {
    padding: 8px;
  }
}

.title {
  h2 {
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    @include sp {
      margin-bottom: 8px;
      font-size: 20px;
    }
  }
  p {
    text-align: center;
    margin-bottom: 24px;
    @include sp {
      margin-bottom: 24px;
      font-size: 13px;
    }
  }
}

.article {
  &:hover &__thumbnail {
    filter: grayscale(80%);
  }
  @include sp {
    padding: 0;
  }
  &__category {
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 13px;
  }
  &__category-text {
    opacity: 0.38;
  }
  &__thumbnail {
    padding: 0;
    margin-bottom: 16px;
    border-radius: 6px 6px 0 0;
    transition: 0.5s ease;
    img {
      border-radius: 6px 6px 0 0;
      vertical-align: bottom;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
  }
  &__name {
    font-size: 16px;
    font-weight: normal;
    padding: 0 16px 8px;
    margin: 0;
  }
  &__title {
    font-size: 16px;
    font-weight: normal;
    color: rgba(#303030, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    padding: 0 16px 8px;
  }
  &__date {
    font-size: 13px;
    opacity: 0.38;
    margin-right: 8px;
  }
  &__description {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-top: 1px dashed #e4e4e4;
  }
}

.loading-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 96px 0;
  @include sp {
    grid-template-columns: 1fr;
  }
}
