@import 'mixins';
@import '~@angular/material/theming';
@import 'material-custom';

.article {
  max-width: 100%;
}

mat-divider {
  margin-bottom: 24px;
}

p {
  display: inline-block;
}

.link-button a {
  display: block;
  width: 60%;
  border-radius: 4px;
  margin: 48px auto;
  padding: 8px 16px;
  background: linear-gradient(60deg, #40c4ff, #00a1dd);
  color: #fff;
  @include sp {
    width: 80%;
  }
}

.teacher {
  margin: 48px 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 24px;
    @include sp {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-right: 16px;
  }
  &__head {
    position: relative;
  }
  &__avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
    @include sp {
      display: block;
      margin: 0 auto;
    }
    &:hover {
      @include mat-elevation(4);
    }
  }
  &__btn {
    background: #424242;
    color: #fff;
    position: absolute;
    bottom: 8px;
    left: 100px;
    &:hover {
      background: #2aa1f1;
    }
    mat-icon {
      font-size: 20px;
    }
  }
  &__active-sign {
    display: block;
    width: 24px;
    height: 3px;
    background: linear-gradient(to right, #6c63fe, #14e3fe);
    margin-bottom: 16px;
    position: absolute;
    bottom: -16px;
    left: 52px;
    @include sp {
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__body {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    transition: ease-out 0.5s;
    &:hover {
      @include mat-elevation(1);
    }
  }
  &__name {
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__description {
    display: block;
    margin-bottom: 16px;
  }
  &__screen-name {
    opacity: 0.6;
  }
}

.feature {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 48px;
  &__title {
    font-size: 28px;
    font-weight: 500;
  }
}

.plan {
  &__title {
    font-size: 28px;
    font-weight: 500;
  }
  &:hover button {
    display: block;
  }
  &__head-wrap {
    display: grid;
    grid-template-columns: 1fr 40px;
    margin-bottom: 24px;
  }
  & button {
    display: none;
    @include sp {
      display: block;
    }
  }
  & small {
    font-size: 12px;
    color: rgba(#303030, 0.6);
  }
  &__text {
    white-space: pre-wrap;
  }
}

.review {
  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
  }
}
