<section>
  <div class="article" *ngIf="article">
    <div class="hero">
      <button mat-flat-button color="primary" class="hero__category">
        <p>{{ article.category }}</p>
      </button>
      <figure class="hero__thumbnail">
        <img [src]="article.thumbnailURL" alt="" />
      </figure>
      <mat-chip-list #chiplist>
        <mat-chip *ngFor="let tag of article.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>

      <h1>
        {{ article.title }}
      </h1>

      <div class="hero__body">
        <div class="hero__body-inner">
          <figure class="hero__logo">
            <img [src]="article.logo" alt="" />
          </figure>
          <h2 class="hero__title">
            <a href="{{ article.serviceURL }}" target="_blank">{{
              article.name
            }}</a>
          </h2>
        </div>
        <div class="hero__actions">
          <ng-container *ngIf="isliked; else notYet">
            <button
              mat-flat-button
              (click)="unlikeArticle(uid)"
              class="hero__like"
            >
              <mat-icon class="hero__like-icon" color="accent"
                >favorite</mat-icon
              >
              <p class="hero__like-count">{{ article.likeCount }}</p>
            </button>
          </ng-container>

          <ng-template #notYet>
            <button
              mat-flat-button
              (click)="likeArticle(uid)"
              class="hero__like"
              matTooltip="いいね！"
            >
              <mat-icon class="hero__like-icon">favorite_border</mat-icon>
              <p class="hero__like-count">{{ article.likeCount }}</p>
            </button>
          </ng-template>

          <button mat-flat-button class="hero__share" matTooltip="シェア">
            <a
              href="https://twitter.com/share?ref_src=twsrc%5Etfw"
              class="twitter-share-button"
              data-hashtags="スキるぽ"
              data-show-count="false"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#fff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                ></path>
              </svg>
            </a>

            <script
              async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
          </button>

          <a
            mat-flat-button
            class="hero__comment"
            matTooltip="コメント"
            (click)="scroll()"
          >
            <mat-icon>message</mat-icon>
          </a>

          <ng-container *ngIf="isPinned; else notPin">
            <button
              mat-flat-button
              (click)="unpinnedArticle(uid)"
              class="hero__pin"
            >
              <mat-icon color="warn" class="hero__pin-icon">push_pin</mat-icon>
              <p class="hero__like-count">{{ article.pinCount }}</p>
            </button>
          </ng-container>

          <ng-template #notPin>
            <button
              mat-flat-button
              (click)="pinnedArticle(uid)"
              class="hero__pin"
              matTooltip="気になる"
            >
              <mat-icon class="hero__pin-icon">push_pin</mat-icon>
              <p class="hero__like-count">{{ article.pinCount }}</p>
            </button>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="teacher" *ngIf="teachers$ | async as teachers; else blank">
      <div class="teacher__heading">
        <h3 class="teacher__title">講師・メンター</h3>
        <button
          mat-flat-button
          class="teacher__more-btn"
          (click)="openTeachersDialog(article)"
        >
          もっと見る
        </button>
      </div>

      <div class="teacher__grid">
        <div
          @fade
          *ngFor="let teacher of teachers | slice: 0:4; index as i"
          class="teacher__head"
        >
          <figure class="teacher__avatar" (mouseover)="isActiveTeacher(i)">
            <img src="{{ teacher.profileImageUrl }}" alt="" />
          </figure>
          <a
            href="https://twitter.com/messages/compose?recipient_id={{
              teacher.twitterUid
            }}&ref_src=twsrc%5Etfw"
            mat-mini-fab
            color=""
            class="teacher__btn"
            ><mat-icon>send</mat-icon></a
          >
          <ng-container *ngIf="teachers[selectedTeacherNum] === teachers[i]">
            <span @fade class="teacher__active-sign"></span>
          </ng-container>
        </div>
      </div>

      <div *ngIf="teachers[selectedTeacherNum]">
        <div @fade class="teacher__body">
          <a
            href="https://twitter.com/{{
              teachers[selectedTeacherNum].screenName
            }}"
            target="_blank"
            ><p class="teacher__name">
              {{ teachers[selectedTeacherNum].name }}<br />
              <span class="teacher__screen-name"
                >@{{ teachers[selectedTeacherNum].screenName }}</span
              >
            </p>
          </a>
          <p class="teacher__description">
            {{ teachers[selectedTeacherNum].description }}
          </p>
        </div>
      </div>
    </div>
    <ng-template #blank>
      <p>
        講師・メンターの登録がまだありません🙏
      </p>
    </ng-template>

    <div class="feature">
      <h3 class="feature__title">サービスの特徴</h3>
      <div class="feature__body">
        <quill-view-html [content]="article.feature" theme="snow">
        </quill-view-html>
      </div>
    </div>

    <div class="plan">
      <div class="plan__head-wrap">
        <div class="plan__head">
          <h3 class="plan__title">プラン/料金</h3>
          <p><small>※最新の情報ではない可能性があります。</small></p>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="mat-18">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a
            href="https://twitter.com/messages/compose?recipient_id=4912264663&ref_src=twsrc%5Etfw"
            target="_blank"
            mat-menu-item
            ><mat-icon>flag</mat-icon>報告</a
          >
        </mat-menu>
      </div>
      <div class="plan__body">
        <p class="plan__text">
          {{ article.plan }}
        </p>
      </div>
    </div>

    <div class="link-button" #target>
      <a
        color="primary"
        mat-flat-button
        href="{{ article.serviceURL }}"
        target="_blank"
      >
        {{ article.name }} を見てみる
      </a>
    </div>
  </div>
</section>
