section {
  background-color: rgba(38, 50, 56);
  padding: 48px 24px;
}

.article {
  background-color: rgba(38, 50, 56);
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  &__thumbnail {
    max-width: 100%;
    margin-bottom: 8px;
  }
  &__category {
    opacity: 0.6;
  }
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 16px 0 16px;
    overflow: hidden;
  }
  &__title {
    font-weight: 500;
  }
  &__body {
    display: flex;
    align-items: center;
  }
}

h1 {
  font-size: 20px;
  margin: 8px 0;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.6;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}

p {
  display: inline-block;
}

.feature-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 48px;
}

.feature {
  display: flex;
  align-items: center;
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  &__title {
    margin: 8px 16px;
  }
  &__description {
    margin: 8px 16px;
    font-size: 14px;
  }
}

.link-button a {
  display: block;
  width: 60%;
  background-color: #2aa1f1;
  border-radius: 25px;
  margin: 48px auto;
}

mat-spinner {
  margin: 64px auto;
}

.teacher {
  margin-bottom: 48px;
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__title {
    margin-right: 16px;
  }
  &__hero {
    width: 144px;
    height: 144px;
    margin-bottom: 16px;
    text-align: center;
    transition: ease-in-out 1s;
    box-sizing: border-box;
    &:hover {
      border-bottom: 1px solid rgb(236, 236, 236);
    }
  }
  &__avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__description {
    background: #314047;
    padding: 16px;
    border-radius: 8px;
  }
  &__button {
    width: 100px;
    line-height: 1;
    padding: 8px;
    border-radius: 30px;
    background-color: #2aa1f1;
    color: #fff;
  }
}
.plan {
  &:hover button {
    display: block;
  }
  &__head-wrap {
    display: grid;
    grid-template-columns: 1fr 40px;
    margin-bottom: 24px;
  }
  & button {
    display: none;
  }
  & small {
    font-size: 12px;
    color: rgba(236, 236, 236, 0.6);
  }
}
