section {
  background-color: rgba(38, 50, 56);
  padding: 48px 24px;
}

.article {
  background-color: rgba(38, 50, 56);
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 24px;
  &__thumbnail {
    max-width: 100%;
  }
  &__category-text {
    opacity: 0.6;
  }
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
  }
  &__title {
    font-weight: 500;
  }
}

h1 {
  font-size: 20px;
  margin-bottom: 8px;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.6;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
}

.users {
  display: flex;
  align-items: center;
  &__title {
    margin-right: 24px;
  }
  &__button {
    width: 100px;
    line-height: 1;
    padding: 8px;
    border-radius: 30px;
    background-color: #2aa1f1;
    color: #fff;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 16px;
  }
  &__description {
    margin-bottom: 32px;
  }
  &__name {
    margin: 24px 0;
    &:hover {
      opacity: 0.6;
    }
  }
}

p {
  display: inline-block;
}

mat-tab-group {
  margin-bottom: 48px;
}

.feature-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 48px;
}

.feature {
  display: flex;
  align-items: center;
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  &__title {
    margin: 8px 16px;
  }
  &__description {
    margin: 8px 16px;
    font-size: 14px;
  }
}

.link-button a {
  width: 100%;
  background-color: #2aa1f1;
  border-radius: 25px;
  margin: 48px auto;
}
