section {
  background-color: rgba(38, 50, 56);
}

.container {
  max-width: 600px;
  background-color: rgba(38, 50, 56);
  text-align: center;
  padding: 24px;
  margin: 0 auto;
}

p {
  text-align: left;
}

dt {
  float: left;
}
dd {
  text-align-last: left;
}

.tighten {
  text-align: right;
  margin-top: 24px;
}
