@import 'mixins';

.container {
  padding: 0 8px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 32px;
  margin: 48px auto;
  @include sp {
    display: block;
    margin: 0 auto;
  }
}

mat-spinner {
  margin: 64px auto;
}
