@import 'mixins';

.hero {
  z-index: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 24px;
  position: relative;
  &__main {
    margin-bottom: 80px;
  }
  &__sub {
    width: 360px;
    position: absolute;
    top: -13vw;
    right: 0;
  }
  &__component {
    background: #fff;
    box-shadow: 0 2px 10px rgba(32, 33, 37, 0.06);
    &--actions {
      margin-bottom: 24px;
      padding: 16px;
    }
  }
}

mat-spinner {
  margin: 64px auto;
}

.relation {
  max-width: 100%;
  background: #f5f5f5;
  padding: 48px 0;
  margin-bottom: 80px;
}
