<div *ngIf="article$ | async as article; else loading" class="article">
  <app-hero [article]="article"></app-hero>

  <div class="container">
    <div class="grid">
      <div class="grid__main">
        <app-article [article]="article"></app-article>
      </div>

      <div class="grid__sub">
        <div class="grid__component grid__component--actions">
          <app-actions [article]="article"></app-actions>
        </div>
        <div class="grid__component">
          <app-students [article]="article"></app-students>
        </div>
      </div>
    </div>
  </div>

  <div class="relation">
    <app-side></app-side>
  </div>
</div>

<ng-template #loading>
  <mat-spinner [diameter]="40"></mat-spinner>
</ng-template>
