<ng-container class="article" *ngIf="article$ | async as article">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid">
      <div class="grid__main">
        <h2>サービス名</h2>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" #name required />
          <mat-hint align="end">{{ name.value.length }} / 50文字</mat-hint>
        </mat-form-field>

        <div class="type">
          <div class="type__category">
            <h2>カテゴリー</h2>
            <mat-form-field>
              <mat-select formControlName="category">
                <mat-option
                  *ngFor="let category of categoryGroup"
                  [value]="category.value"
                >
                  {{ category.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="type__type">
            <h2>タイプ</h2>
            <mat-radio-group
              color="primary"
              aria-label="Select an option"
              formControlName="type"
            >
              <mat-radio-button value="school">スクール</mat-radio-button>
              <mat-radio-button value="salon"
                >オンラインサロン</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>

        <div class="image">
          <div class="image__main">
            <h2>メイン画像</h2>
            <div class="main-img" *ngIf="article.thumbnailURL">
              <img [src]="srcs.thumbnailURL || article.thumbnailURL" alt="" />
              <p class="note" *ngIf="!article.thumbnailURL">
                ※ 1280px x 720px
              </p>
              <input
                type="file"
                style="display: none;"
                #thumbnailInput
                (change)="setImage($event, 'thumbnailURL')"
                accept="image/png, image/jpeg"
              />
              <button
                type="button"
                (click)="thumbnailInput.click()"
                mat-mini-fab
                class="img-button"
              >
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
              <p class="file-name" *ngIf="!article.thumbnailURL">
                ファイルが選択されていません
              </p>
            </div>
          </div>

          <div class="image__logo">
            <h2>サービスロゴ</h2>
            <div class="logo-img">
              <img
                *ngIf="article?.logo"
                [src]="srcs.logo || article.logo"
                alt=""
              />
              <p class="note" *ngIf="!article.logo">
                ※ 800px x 800px
              </p>
              <input
                type="file"
                style="display: none;"
                #logoInput
                (change)="setImage($event, 'logo')"
                accept="image/png, image/jpeg"
              />
              <button
                type="button"
                (click)="logoInput.click()"
                mat-mini-fab
                class="img-button"
              >
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
              <p class="file-name" *ngIf="!article.logo">
                ファイルが選択されていません
              </p>
            </div>
          </div>
        </div>

        <h2>記事タイトル</h2>
        <mat-form-field appearance="outline">
          <input matInput formControlName="title" required />
          <mat-hint align="end">{{ title.value.length }} / 150文字</mat-hint>
        </mat-form-field>

        <h2>サービスの特徴</h2>
        <quill-editor
          formControlName="feature"
          [styles]="{ height: '320px' }"
        ></quill-editor>
      </div>

      <div class="grid__side">
        <h2>プラン</h2>
        <mat-form-field appearance="outline" class="feature">
          <textarea
            matInput
            formControlName="plan"
            #plan
            matTextareaAutosize
            [matAutosizeMinRows]="10"
          ></textarea>
          <mat-hint align="end">{{ plan.value.length }} / 400文字</mat-hint>
        </mat-form-field>

        <h2>サービスURL</h2>
        <mat-form-field appearance="outline">
          <input matInput formControlName="serviceURL" required />
        </mat-form-field>

        <h2>メンターTwitterID</h2>

        <mat-form-field appearance="outline">
          <input matInput formControlName="teacherId" />
        </mat-form-field>

        <h2 class="edit__item">タグ</h2>
        <mat-form-field>
          <mat-chip-list #chipList aria-label="tag selection">
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)"
            >
              {{ tag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              #tagsInput
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              formControlName="tags"
              placeholder="JavaScript, 東京, オンライン..."
            />
          </mat-chip-list>
        </mat-form-field>

        <h2>記事ID</h2>
        <mat-form-field appearance="outline">
          <input matInput formControlName="id" required />
        </mat-form-field>

        <button
          mat-fab
          color="primary"
          class="submit-button"
          [disabled]="form.invalid"
        >
          更新
        </button>
      </div>
    </div>
  </form>
</ng-container>
