.grid {
  display: grid;
  grid-template-columns: 70% 28%;
  gap: 24px;
  margin: 24px;
  margin-bottom: 80px;
  &__main {
    padding: 24px;
    background: #212121;
    border-radius: 8px;
  }
  &__side {
    padding: 24px;
    background: #212121;
    border-radius: 8px;
  }
}

.type,
.image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 24px;
  &__category,
  &__main {
    margin-right: 24px;
  }
}

.type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 24px;
  &__category {
    margin-right: 24px;
  }
  &__radio {
    text-align: center;
  }
}

.main-img {
  position: relative;
  width: 320px;
  height: 180px;
  border: dashed 1px;
  margin: 0 auto;
}
.logo-img {
  position: relative;
  width: 100px;
  height: 100px;
  border: dashed 1px;
  margin: 0 auto;
}
.sub-img {
  position: relative;
  width: 100px;
  height: 100px;
  border: dashed 1px;
  margin: 0 auto;
}

.img-button {
  position: absolute;
  bottom: 0;
  right: -48px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  margin-bottom: 16px;
  border-left: solid 3px #d500f9;
  margin-top: 16px;
  background: #303030;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  margin: 16px;
}

mat-slide-toggle {
  float: right;
}

mat-radio-button {
  margin-right: 16px;
}

.note {
  font-size: 9px;
  opacity: 0.6;
}

.submit-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.file-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px;
  opacity: 0.6;
}
