.heading {
  margin-bottom: 24px;
  &__top {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__body {
    font-size: 16px;
    text-align: center;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
