<div class="container container--profile" *ngIf="user$ | async as user">
  <div class="grid">
    <div class="grid-left">
      <div class="card card--sp">
        <div class="card__icon">
          <mat-icon class="card__icon-position">history</mat-icon>
        </div>
        <h3 class="card__title">自己紹介</h3>
        <p class="card__body">
          {{ user.profile ? user.profile : '自己紹介してみましょう' }}
        </p>
      </div>
    </div>
    <div class="grid-right">
      <div class="card">
        <div class="card__icon card__icon--pink">
          <mat-icon class="card__icon-position">military_tech</mat-icon>
        </div>
        <h3 class="card__title">スキル</h3>
        <mat-chip-list #chipList aria-label="tag selection" class="card__body">
          <mat-chip *ngFor="let tag of user.tags">
            {{ tag }}
          </mat-chip>
          <ng-container *ngIf="!user.tags">
            <p>
              身につけたスキルをどんどん追加していきましょう
            </p>
          </ng-container>
        </mat-chip-list>
      </div>
      <div class="card">
        <div class="card__icon card__icon--yellow">
          <mat-icon class="card__icon-position">link</mat-icon>
        </div>
        <h3 class="card__title">関連ページ</h3>
        <a
          class="card__body card__body--link"
          href="{{ user.links }}"
          target="_blank"
        >
          {{
            user.links
              ? user.links
              : 'SNSやポートフォリオなどのリンクを追加しましょう'
          }}
        </a>
      </div>
    </div>
  </div>
</div>
