@import 'mixins';

.grid {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 32px;
  @include sp {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.card {
  padding: 24px;
  padding-left: 32px;
  position: relative;
  background: #424242;
  margin-bottom: 16px;
  @include sp {
    padding: 16px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6b1bf6;
    position: absolute;
    top: 8px;
    left: -16px;
    &--pink {
      background: #f50057;
    }
    &--yellow {
      background: #ffea00;
      color: #182d41;
    }
  }
  &__icon-position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    @include sp {
      margin-left: 16px;
    }
  }
  &__body {
    white-space: pre-wrap;
    &--link:hover {
      color: #47c5fc;
    }
  }
}
.card--sp {
  @include sp {
    margin-bottom: 0;
  }
}
