@import 'mixins';
@import '~@angular/material/theming';

.edit {
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px;
  margin: 0 auto;
  @include sp {
    max-width: 100%;
    padding: 0;
  }
  &__item {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__form {
    margin-bottom: 24px;
  }
  &__submit {
    width: 120px;
    margin: 24px auto 96px;
  }
}

.unsubscribe {
  margin: 0 auto 24px;
  padding: 24px;
  text-align: center;
  @include sp {
    margin: 0;
  }
  &__title {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;
  }
  &__text {
    font-size: 13px;
  }
  &__form {
    width: 50%;
    margin: 24px auto;
    @include sp {
      width: 80%;
    }
  }
  &__btn {
    width: 120px;
  }
  &__message {
    margin: 24px auto;
    mat-spinner {
      margin: 24px auto;
    }
  }
}
