<div class="container container--setting">
  <ng-container *ngIf="user$ | async as user">
    <form [formGroup]="form" (ngSubmit)="updateUser()" class="edit">
      <h2 class="edit__item">表示名</h2>
      <mat-form-field class="edit__form">
        <input matInput formControlName="name" #name autocomplete="off" />
        <mat-error *ngIf="form.controls['name'].hasError('required')"
          >必須入力です</mat-error
        >
        <mat-error *ngIf="form.controls['name'].hasError('maxlength')"
          >最大文字数を超えています</mat-error
        >
        <mat-hint align="end"
          >{{ name.value.length }} / {{ MAX_NAME_LENGTH }}文字</mat-hint
        >
      </mat-form-field>

      <h2 class="edit__item">肩書き</h2>
      <mat-form-field class="edit__form">
        <input matInput formControlName="post" #post autocomplete="off" />
        <mat-hint align="end">{{ post.value.length }} / 20文字</mat-hint>
      </mat-form-field>

      <h2 class="edit__item">プロフィール</h2>
      <mat-form-field class="edit__form">
        <textarea
          matInput
          formControlName="profile"
          placeholder="自己紹介をしましょう"
          #profile
          autocomplete="off"
          matTextareaAutosize
        ></textarea>
        <mat-error>必須入力です</mat-error>
        <mat-error>最大文字数を超えています</mat-error>
        <mat-hint align="end">{{ profile.value.length }}/400文字</mat-hint>
      </mat-form-field>

      <h2 class="edit__item">リンク</h2>
      <mat-form-field class="edit__form">
        <textarea
          matInput
          formControlName="links"
          placeholder="SNSやポートフォリオのリンクを共有しましょう"
          #link
          autocomplete="off"
          matTextareaAutosize
        ></textarea>
        <mat-error>必須入力です</mat-error>
        <mat-error>最大文字数を超えています</mat-error>
        <mat-hint align="end">{{ link.value.length }}/400文字</mat-hint>
      </mat-form-field>

      <h2 class="edit__item">スキルリスト</h2>
      <mat-form-field>
        <mat-chip-list #chipList aria-label="tag selection">
          <mat-chip
            *ngFor="let tag of tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeTag(tag)"
          >
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="習得済みのスキルを登録しましょう"
            #tagsInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)"
            formControlName="tags"
          />
        </mat-chip-list>
        <mat-hint align="end">1つのタグは10文字以内</mat-hint>
      </mat-form-field>

      <button
        class="edit__submit"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid || form.pristine"
      >
        更新
      </button>
    </form>

    <div class="unsubscribe">
      <h3 class="unsubscribe__title" (click)="isOpen = !isOpen">
        退会を希望の方はこちら
      </h3>
      <div *ngIf="isOpen" @fade>
        <p class="unsubscribe__text">
          退会すると利用データが失われ、あとから復元できません。
        </p>

        <mat-form-field class="unsubscribe__form">
          <input
            class="unsubscribe__input"
            matInput
            placeholder="ユーザー名を入力"
            #input
            autocomplete="off"
          />
          <mat-hint align="end">{{ user.name }}</mat-hint>
        </mat-form-field>

        <button
          class="unsubscribe__btn"
          mat-button
          [disabled]="user.name !== input.value"
          (click)="openDeleteDialod()"
        >
          退会
        </button>
      </div>

      <div class="unsubscribe__message" *ngIf="userService.isProcessing">
        <p>退会処理中です...</p>
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
  </ng-container>
</div>
