<div class="wrapper">
  <div class="container">
    <div class="title">
      <h2>Requests list</h2>
      <p>口コミ募集</p>
    </div>
    <ng-container @fade *ngIf="requests$ | async as requests">
      <swiper [config]="config" [(index)]="index">
        <div class="swiper-slide" *ngFor="let request of requests">
          <a routerLink="/request-detail/{{ request.id }}" class="request">
            <div class="request__heading">
              <p class="request__pin">📌</p>
            </div>
            <div class="request__body">
              <p>{{ request.body }}</p>
            </div>

            <h3 class="request__title">{{ request.title }}</h3>

            <div class="request__description">
              <p class="request__date">
                {{ request.createdAt.toDate() | date: 'yyyy年M月d日' }} UP
              </p>
              <a
                class="request__photo"
                [style.background-image]="'url(' + request.user.photoURL + ')'"
                routerLink="/user/{{ request.user?.uid }}"
              ></a>
            </div>
          </a>
        </div>
      </swiper>
    </ng-container>

    <mat-divider></mat-divider>
  </div>
</div>
