@import 'mixins';
@import '~@angular/material/theming';

.wrapper {
  background: #303030;
  padding: 48px;
  @include sp {
    padding: 16px;
  }
}

.title {
  &__main {
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    @include sp {
      margin-bottom: 0;
      font-size: 20px;
    }
  }
  &__sub {
    text-align: center;
    margin-bottom: 48px;
    color: #fff;
    @include sp {
      margin-bottom: 24px;
      font-size: 13px;
    }
  }
}

.request {
  background-color: #fafafa;
  border: 1px solid #e4e4e4;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 16px;
  padding: 16px;
  position: relative;
  transition: ease-in-out 0.3s;
  @include sp {
    grid-template-columns: 40px 1fr;
    padding: 8px;
  }
  &__heading {
    display: grid;
    place-items: center;
  }
  &__description {
    display: flex;
    align-items: center;
  }
  &__body {
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    @include sp {
      font-size: 13px;
      margin-bottom: 8px;
    }
  }
  &__title {
    font-weight: normal;
    @include sp {
      font-size: 14px;
    }
  }
  &__date,
  &__category {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 13px;
    color: rgba(#303030, 0.6);
    height: 24px;
    @include sp {
      font-size: 10px;
    }
    mat-icon {
      font-size: 24px;
      margin-right: 8px;
      @include sp {
        font-size: 16px;
        height: 16px;
        margin-right: 0;
      }
    }
  }
  &__photo {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #eee center/cover;
    margin: 0 auto 8px;
    @include mat-elevation(4);
    @include sp {
      width: 32px;
      height: 32px;
    }
  }
  &__name {
    font-size: 13px;
  }
  &__more {
    max-width: 30%;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    text-align: center;
    display: block;
    margin: 48px auto;
    color: #fff;
    position: relative;
    overflow: hidden;
    @include sp {
      max-width: 80%;
      padding: 8px;
      margin: 24px auto;
    }
    span {
      z-index: 20;
    }
    &:after {
      background: #fff;
      content: '';
      height: 155px;
      left: -75px;
      opacity: 0.2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1;
    }
    &:hover {
      &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
