<div class="wrapper">
  <div class="container">
    <div class="title">
      <h2 class="title__main">＼ Request list ／</h2>
      <p class="title__sub">コメント募集中の質問</p>
    </div>

    <ng-container @fade *ngIf="requests$ | async as requests">
      <div *ngFor="let request of requests | slice: 0:7">
        <a
          routerLink="/request-detail/{{ request.id }}"
          class="request"
          [style.background]="
            request.uid == user.uid
              ? 'linear-gradient(60deg, #40c4ff, #00a1dd)'
              : '#fafafa'
          "
          [style.color]="request.uid == user.uid ? '#fff' : '#303030'"
        >
          <div class="request__heading">
            <button
              class="request__photo"
              [style.background-image]="'url(' + request.user.photoURL + ')'"
              routerLink="/user/{{ request.user?.uid }}"
            ></button>
            <p class="request__name">
              {{ request.user.name }}
            </p>
          </div>

          <div class="request__main">
            <h3 class="request__title">{{ request.title }}</h3>
            <p class="request__body">{{ request.body }}</p>

            <div class="request__description">
              <p
                class="request__date"
                [style.color]="request.uid == user.uid ? '#fafafa' : '#303030'"
              >
                <mat-icon>schedule</mat-icon
                >{{ request.createdAt.toDate() | date: 'yyyy/MM/dd/' }} 投稿
              </p>
              <p
                class="request__category"
                [style.color]="request.uid == user.uid ? '#fafafa' : '#303030'"
              >
                <mat-icon>local_offer</mat-icon>{{ request.category }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </ng-container>

    <a class="request__more" routerLink="/all-request"
      ><span>全ての質問を見る</span></a
    >
  </div>
</div>
