@import 'mixins';

.wrapper {
  max-width: 100%;
  background: #212121;
}

.account {
  max-width: 60%;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
  padding: 24px;
  margin: 0 auto 24px;
  @include sp {
    max-width: 100%;
    padding-inline: 16px;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
    background: no-repeat center/cover;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__plan {
    font-size: 16px;
  }
  &__create {
    font-size: 13px;
    opacity: 0.8;
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__setting {
    margin-right: 16px;
  }
}
