<div class="login-section">
  <div class="card">
    <div class="card__header">
      <a class="logo"
        ><object
          type="image/svg+xml"
          data="../../assets/images/logo_grad.svg"
          width="100%"
        ></object
      ></a>
      <p class="description">ログイン</p>
    </div>
    <button class="card__login card__login--google" (click)="googleLogin()">
      Google
    </button>
    <p>または</p>
    <button class="card__login card__login--twitter" (click)="twitterLogin()">
      Twitter
    </button>
  </div>
</div>
