<div class="login">
  <div class="login__wrap">
    <div class="login__main">
      <div class="login__message">
        <p>eduuで、自分にぴったりの</p>
        <p>学び場を見つけよう。</p>
      </div>

      <div class="card">
        <div class="card__header">
          <a class="logo"
            ><img src="assets/images/logo-grad3.svg" width="100%" alt="eduu"
          /></a>

          <h1 class="card__title">ログイン</h1>
        </div>
        <button class="card__login card__login--google" (click)="googleLogin()">
          Google
        </button>
        <p>または</p>
        <button
          class="card__login card__login--twitter"
          (click)="twitterLogin()"
        >
          Twitter
        </button>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="feature__message">
      <h2 class="feature__title">
        ＼ ログインするとできること ／
      </h2>
      <p class="feature__sub">
        アカウントを作成すると、多くのことができるようになります。
      </p>
      <ol>
        <li>
          <p class="feature__image">👩‍💼</p>
          <p>マイページが作成され<strong>プロフィールを編集</strong>できます</p>
        </li>
        <li>
          <p class="feature__image">📌</p>
          <p>気になるサービスを<strong>ピン留め</strong>することができます</p>
        </li>
        <li>
          <p class="feature__image">📝</p>
          <p>サービスの<strong>口コミを投稿</strong>できます</p>
        </li>
        <li>
          <p class="feature__image">❓</p>
          <p><strong>口コミを募集</strong>することができます</p>
        </li>
        <li>
          <p class="feature__image">👨‍🏫</p>
          <p>サービスのオーナーは<strong>記事を作れる</strong>ようになります</p>
        </li>
      </ol>
    </div>
  </div>
</div>
