<div
  class="hero"
  [style.background-image]="'url(' + article.thumbnailURL + ')'"
>
  <div class="container container--hero">
    <div class="hero__inner">
      <figure class="hero__logo">
        <img [src]="article.logoURL" alt="" />
      </figure>
      <h1 class="hero__name">
        <a href="{{ article.serviceURL }}" target="_blank">{{
          article.name
        }}</a>
      </h1>
    </div>

    <h2 class="hero__title">
      {{ article.title }}
    </h2>

    <p class="hero__category">
      {{ article.category }}
    </p>

    <div class="hero__data">
      <p
        class="hero__star"
        matTooltip="ユーザー満足度"
        [innerHTML]="averageRating | rate"
      ></p>
      <p class="hero__count">{{ averageRating }}</p>
    </div>

    <div class="hero__tag">
      <mat-chip-list #chiplist>
        <mat-chip *ngFor="let tag of article.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
