<div class="dialog">
  <div class="dialog__header">
    <mat-icon class="dialog__icon">post_add</mat-icon>
    <ng-container *ngIf="data">
      <h2 class="dialog__heading">
        {{ data.article.name }}に参加した感想を投稿しよう
      </h2>
    </ng-container>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="dialog__content">
        <h3 class="dialog__title">満足度</h3>
        <mat-form-field>
          <mat-select formControlName="rating" required>
            <mat-option *ngFor="let rating of ratings" [value]="rating.value">
              {{ rating.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ratingControl.hasError('required')"
            >必須入力です</mat-error
          >
        </mat-form-field>

        <h3 class="dialog__title">コメント</h3>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="良かったところや、こんな人に合ってると思うなどの感想を入力"
            formControlName="comment"
            matTextareaAutosize
            [matAutosizeMinRows]="7"
            required
          ></textarea>
          <mat-error *ngIf="commentControl.hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error *ngIf="commentControl.hasError('maxlength')"
            >最大文字数を超えています</mat-error
          >
          <mat-hint align="end"
            >{{ commentControl.value.length }} /
            {{ MAX_COMMENT_LENGTH }}文字</mat-hint
          >
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <div class="dialog__actions">
      <button type="button" mat-button matDialogClose>キャンセル</button>
      <button
        type="submit"
        mat-flat-button
        [disabled]="form.invalid || form.pristine"
        [class.disabled]="form.invalid || form.pristine"
        [mat-dialog-close]="true"
      >
        投稿
      </button>
      <button type="button" mat-flat-button (click)="joinAsStudent(data.uid)">
        レビューせずに参加済にする
      </button>
    </div>
  </form>
</div>
