@import 'mixins';

.dialog {
  &__header {
    text-align: center;
  }
  &__heading {
    font-weight: 500;
    margin: 0;
    @include sp {
      font-size: 18px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 40px 0;
    text-align: center;
    @include sp {
      gap: 8px;
      margin: 16px 0;
    }
  }
  &__form {
    margin-bottom: 16px;
  }
  &__actions {
    display: grid;
    gap: 8px;
    button {
      width: 100%;
      &:nth-of-type(2),
      &:nth-of-type(3) {
        background: linear-gradient(60deg, #40c4ff, #00a1dd);
        color: #fff;
        &.disabled {
          background: #eee;
          color: rgba(0, 0, 0, 0.38);
        }
      }
      &:nth-of-type(2) {
        margin-bottom: 24px;
        @include sp {
          margin-bottom: 16px;
        }
      }
    }
  }
}
