<div class="container">
  <h2>新着スクール</h2>
  <ng-container *ngIf="schools$ | async as schools; else loading">
    <swiper [config]="config" [(index)]="index">
      <div class="swiper-slide" *ngFor="let school of schools">
        <a routerLink="/article-detail/{{ school.id }}" href="" class="article">
          <figure class="article__thumbnail">
            <img [src]="school.thumbnailURL" alt="" />
          </figure>

          <div class="article__body">
            <div class="article__top">
              <img class="article__logo" [src]="school.logo" alt="" />
              <h3 class="article__title">{{ school.title }}</h3>
            </div>

            <div class="article__description">
              <p class="article__up">
                {{ school.createdAt.toDate() | date: 'yyyy年M月d日' }} UP
              </p>
              <button class="article__category">
                <p class="article__category-text">{{ school.category }}</p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </swiper>
  </ng-container>

  <mat-divider></mat-divider>

  <ng-template #loading>
    <div class="loading-grid">
      <div *ngFor="let spin of spins">
        <div class="loading-grid__item">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>
      </div>
    </div>
  </ng-template>
</div>
