<div class="container">
  <div class="title">
    <h2 class="title__main">＼ Latest School ／</h2>
    <p class="title__sub">新着スクール</p>
  </div>
  <div class="swiper-container-wrapper">
    <div class="swiper-button-wrapper">
      <div class="swiper-button-prev-school"></div>
      <div class="swiper-button-next-school"></div>
    </div>
    <ng-container *ngIf="schools$ | async as schools; else loading">
      <swiper [config]="config" [(index)]="index">
        <div class="swiper-slide" *ngFor="let school of schools">
          <a routerLink="/article-detail/{{ school.id }}" class="article">
            <picture @fade class="article__thumbnail">
              <source
                media="(min-width: 1366px)"
                [srcset]="school.thumbnailURL"
                sizes="100vw"
                alt=""
              />
              <img
                media="(min-width: 640px)"
                [srcset]="school.spThumbnailURL"
                sizes="100vw"
                alt=""
              />
            </picture>

            <div class="article__body">
              <div class="article__top">
                <h3 class="article__name">{{ school.name }}</h3>
                <h4 class="article__title">{{ school.title }}</h4>
              </div>

              <div class="article__description">
                <p class="article__date">
                  {{ school.createdAt.toDate() | date: 'yyyy/MM/dd' }} 追加
                </p>
                <button class="article__category">
                  <p class="article__category-text">{{ school.category }}</p>
                </button>
              </div>
            </div>
          </a>
        </div>
      </swiper>
    </ng-container>
  </div>

  <ng-template #loading>
    <div class="loading-grid">
      <div *ngFor="let spin of spins">
        <div class="loading-grid__item">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>
      </div>
    </div>
  </ng-template>
</div>
