<div class="container">
  <ng-container *ngIf="schools$ | async as schools; else loading">
    <h2>新着のスクール</h2>
    <swiper [config]="config" [(index)]="index">
      <div class="flex swiper-slide" *ngFor="let school of schools">
        <a routerLink="/article-detail/{{ school.id }}" href="" class="article">
          <button mat-flat-button color="primary">
            <p class="article__category-text">{{ school.category }}</p>
          </button>

          <figure class="article__thumbnail">
            <img [src]="school.thumbnailURL" alt="" />
          </figure>

          <div class="article__body">
            <div class="article__top">
              <img class="article__logo" [src]="school.logo" alt="" />
              <h2 class="article__title">{{ school.title }}</h2>
            </div>

            <div class="article__description">
              <p class="article__up">
                {{ school.createdAt.toDate() | date: 'yyyy年M月d日' }} UP
              </p>
            </div>
          </div>
        </a>
      </div>
    </swiper>
  </ng-container>

  <mat-divider></mat-divider>

  <ng-template #loading>
    <div class="loading-grid">
      <div class="loading-grid__item"><mat-spinner></mat-spinner></div>
      <div class="loading-grid__item"><mat-spinner></mat-spinner></div>
      <div class="loading-grid__item"><mat-spinner></mat-spinner></div>
      <div class="loading-grid__item"><mat-spinner></mat-spinner></div>
      <div class="loading-grid__item"><mat-spinner></mat-spinner></div>
    </div>
  </ng-template>
</div>
