@import '~@angular/material/theming';

.heading {
  margin-bottom: 24px;
  position: relative;
  &__top {
    font-family: 'Josefin Sans';
    font-size: 24px;
    text-align: center;
    width: 100%;
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    padding: 16px;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
    @include mat-elevation(4);
  }
  &__body {
    font-size: 16px;
    text-align: center;
    padding: 24px 0 24px;
  }
}

.search {
  display: grid;
  align-items: center;
  height: 60px;
  border-radius: 20px;
  &__input {
    height: 48px;
    border-radius: 24px;
    background: #fafafa;
    font-size: 16px;
    padding: 0 8px;
    border: none;
    outline: none;
    // box-sizing: border-box;
    @include mat-elevation(4);
  }
}
