<div class="dialog">
  <div class="dialog__heading">
    <p>スキルやキーワードで探す</p>
  </div>

  <mat-dialog-content>
    <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
      <input
        class="search__input"
        type="text"
        autocomplete="off"
        [matAutocomplete]="auto"
        [formControl]="searchControl"
      />
    </form>

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionActivated)="setSearchQuery($event.option?.value)"
      (optionSelected)="routeSearch($event.option?.value)"
    >
      <mat-option *ngFor="let option of searchOptions" [value]="option.name">{{
        option.name
      }}</mat-option>
    </mat-autocomplete>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-mini-fab color="" matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
    <button
      type="submit"
      (click)="routeSearch(searchControl.value)"
      mat-mini-fab
      [mat-dialog-close]="true"
      color=""
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
