@import 'mixins';

.nav-list {
  &__btn {
    color: #fff;
    margin-right: 16px;
    &--request,
    &--create {
      display: none !important;
      @include sp {
        display: block !important;
      }
    }
    img {
      width: 24px;
    }
  }
  &__icon {
    margin: 0 24px 0 16px;
    opacity: 0.8;
    color: #fff;
  }
}

.footer {
  margin: 24px;
  font-weight: 300;
  color: rgba(#fff, 0.8);
  &__copy {
    color: rgba(#fff, 0.38);
    margin-top: 24px;
  }
}

mat-divider {
  background: rgba(#fff, 0.38);
  margin: 16px 0;
}

.mat-subheader {
  color: #fff;
}
