.nav-list {
  a {
    color: #fff;
  }
}

.mat-icon {
  margin: 0 24px 0 16px;
  opacity: 0.8;
  color: #fff;
}

.divider {
  margin: 16px 0;
}

.footer {
  margin: 24px;
  font-weight: 300;
  color: rgba(#fff, 0.8);
  &__copy {
    color: rgba(#fff, 0.38);
    margin-top: 24px;
  }
}

mat-nav-list a {
  margin-right: 16px;
}

mat-nav-list h3 {
  margin-left: 16px;
}

mat-divider {
  background: rgba(#fff, 0.38);
}

.mat-subheader {
  color: #fff;
}
