<mat-nav-list>
  <a mat-list-item routerLink="/">
    <mat-icon class="mat-icon">home</mat-icon> ホーム</a
  >
  <mat-divider class="divider"></mat-divider>
  <h3 mat-subheader>カテゴリー</h3>
  <a mat-list-item (click)="routeCategoryFilter('プログラミング')">
    <mat-icon class="mat-icon">code</mat-icon>プログラミング</a
  >
  <a mat-list-item (click)="routeCategoryFilter('外国語')">
    <mat-icon class="mat-icon">language</mat-icon>外国語</a
  >
  <a mat-list-item (click)="routeCategoryFilter('ビジネス')">
    <mat-icon class="mat-icon">business</mat-icon>ビジネス</a
  >
  <a mat-list-item (click)="routeCategoryFilter('スポーツ')">
    <mat-icon class="mat-icon">directions_run</mat-icon>スポーツ</a
  >
  <a mat-list-item (click)="routeCategoryFilter('デザイン')">
    <mat-icon class="mat-icon">music_note</mat-icon>デザイン</a
  >
  <a mat-list-item (click)="routeCategoryFilter('美容')">
    <mat-icon class="mat-icon">accessibility</mat-icon>美容</a
  >
  <a mat-list-item (click)="routeCategoryFilter('料理')">
    <mat-icon class="mat-icon">local_dining</mat-icon>料理</a
  >
  <a mat-list-item (click)="routeCategoryFilter('医療')">
    <mat-icon class="mat-icon">medical_services</mat-icon>医療</a
  >
  <a mat-list-item (click)="routeCategoryFilter('モノづくり')">
    <mat-icon class="mat-icon">emoji_objects</mat-icon>モノづくり</a
  >
  <a mat-list-item (click)="routeCategoryFilter('音楽')">
    <mat-icon class="mat-icon">graphic_eq</mat-icon>音楽</a
  >
  <a mat-list-item (click)="routeCategoryFilter('その他')">
    <mat-icon class="mat-icon">more_horiz</mat-icon>その他</a
  >

  <mat-divider class="divider"></mat-divider>
</mat-nav-list>

<footer class="footer">
  <a mat-list-item routerLink="/">サービスについて</a>
  <a mat-list-item routerLink="/intl/rule">利用規約</a>
  <a mat-list-item routerLink="/intl/privacy">プライバシーポリシー</a>
  <a mat-list-item routerLink="/intl/legal">特定商取引</a>
  <p class="footer__copy">©️Yusuke Gunji Works</p>
</footer>
