@import 'mixins';
@import '~@angular/material/theming';

.hero {
  max-width: 100%;
  position: relative;
  @include sp {
    margin-bottom: 24px;
  }
  img {
    vertical-align: bottom;
  }
}

.swiper-text {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 500;
  color: #fafafa;
  padding: 16px 24px;
  span {
    display: block;
    font-size: 24px;
    background: rgba(#303030, 0.6);
    padding: 8px 16px;
    margin-top: 8px;
  }
}

.search-box {
  max-width: 100%;
  background: #fafafa;
  height: 48px;
  padding: 32px;
  display: flex;
  align-items: center;
  place-content: center;
  place-items: center;
  border-radius: 2px;
  transform: translateY(-50px);
  z-index: 10000;
  @include mat-elevation(4, #000, 0.4);
  &__head {
    width: 20%;
    line-height: 48px;
    text-align: center;
    color: #424242;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding-right: 16px;
  }
  &__form {
    width: 60%;
    height: 48px;
    background: #fff;
    color: #424242;
    border: 1px solid #d6ceb4;
    border-radius: 2px;
  }
  &__input {
    width: 100%;
    height: 46px;
    padding: 0 0 0 8px;
    border: none;
    outline: none;
  }
  &__submit {
    width: 10%;
    height: 50px;
    background: linear-gradient(60deg, #40c4ff, #00a1dd);
    color: #fff;
    border-radius: 2px;
    text-align: center;
    letter-spacing: 8px;
    span {
      display: inline-block;
      transform: translateX(4px);
    }
  }
}

app-latest-school,
app-latest-salon {
  display: block;
  margin-bottom: 48px;
}

app-tag-list {
  display: block;
  margin: 56px auto;
  @include sp {
    margin: 16px auto;
  }
}
