<div class="hero">
  <swiper
    [config]="config"
    (mouseover)="autoplayStop()"
    (mouseout)="autoplayStart()"
  >
    <div class="swiper-button-wrapper">
      <div class="swiper-button-prev-hero"></div>
      <div class="swiper-button-next-hero"></div>
    </div>
    <picture class="swiper-slide">
      <p class="swiper-text">
        リアルなレビュー
        <span>自分にぴったりの学び場が見つかる</span>
      </p>
      <source
        media="(min-width: 1366px)"
        srcset="assets/images/bg-pc-1.png 1920w"
        sizes="100vw"
      />
      <source
        media="(min-width: 960px)"
        srcset="assets/images/bg-pc-1.png"
        sizes="100vw"
      />
      <source
        media="(min-width: 641px)"
        srcset="assets/images/hero-tab.png"
        sizes="100vw"
      />
      <img
        media="(min-width: 640px)"
        srcset="assets/images/hero-sp.png"
        sizes="100vw"
      />
    </picture>

    <picture>
      <p class="swiper-text swiper-text--custom">
        質問リクエスト
        <span>あなたの知りたいが他の人の役に立つ</span>
      </p>
      <source
        media="(min-width: 1366px)"
        srcset="assets/images/bg-pc-2.png 1920w"
        sizes="100vw"
      />
      <source
        media="(min-width: 960px)"
        srcset="assets/images/bg-pc-2.png"
        sizes="100vw"
      />
      <source
        media="(min-width: 641px)"
        srcset="assets/images/hero-tab.png"
        sizes="100vw"
      />
      <img
        media="(min-width: 640px)"
        srcset="assets/images/hero-sp.png"
        sizes="100vw"
      />
    </picture>

    <picture>
      <p class="swiper-text">
        ページ作成
        <span>自分のサービスを知ってもらえる</span>
      </p>
      <source
        media="(min-width: 1366px)"
        srcset="assets/images/bg-pc-3.png 1920w"
        sizes="100vw"
      />
      <source
        media="(min-width: 960px)"
        srcset="assets/images/bg-pc-3.png"
        sizes="100vw"
      />
      <source
        media="(min-width: 641px)"
        srcset="assets/images/hero-tab.png"
        sizes="100vw"
      />
      <img
        media="(min-width: 640px)"
        srcset="assets/images/hero-sp.png"
        sizes="100vw"
      />
    </picture>
  </swiper>

  <div class="container">
    <div class="search-box">
      <h2 class="search-box__head">スキル・エリアから探す</h2>
      <form
        class="search-box__form"
        (ngSubmit)="routeSearch(searchControl.value)"
      >
        <input
          class="search-box__input"
          type="text"
          placeholder="キーワード [ 例：渋谷、JavaScript、実践... ]"
          autocomplete="off"
          [matAutocomplete]="auto"
          [formControl]="searchControl"
        />
      </form>
      <button
        class="search-box__submit"
        (click)="routeSearch(searchControl.value)"
      >
        <span>検索</span>
      </button>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionActivated)="setSearchQuery($event.option?.value)"
        (optionSelected)="routeSearch($event.option?.value)"
      >
        <mat-option
          *ngFor="let option of searchOptions"
          [value]="option.name"
          >{{ option.name }}</mat-option
        >
      </mat-autocomplete>
    </div>
  </div>
</div>

<app-latest-school></app-latest-school>
<app-latest-salon></app-latest-salon>
<app-tag-list></app-tag-list>
<app-request-list
  *ngIf="user$ | async as user"
  [user]="user"
></app-request-list>

<app-footer></app-footer>
