.hero {
  width: 100%;
  height: 500px;
  background: url(/assets/images/hero_02.png) center/cover;
  &__title {
    position: absolute;
    top: 120px;
    left: 300px;
    letter-spacing: 6px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  &__form {
    display: block;
    height: 100px;
    width: 500px;
    position: absolute;
    top: 250px;
    left: 285px;
  }
  &__input {
    height: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 25px;
    padding: 20px 35px;
    width: 200px;
    font-size: 1em;
    border: 2px solid #777777;
    &:focus {
      width: 250px;
      outline: 0;
    }
  }
}

button {
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  background: #2aa1f1;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  &:hover {
    background: #1181cc;
  }
}

button,
input {
  transition: all 0.3s ease-in-out;
}

form input:focus ~ button {
  // display: inline-block;
  opacity: 1;
}
