@import 'material-custom';
@import '~@angular/material/theming';
@import 'mixins';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
  &--editor {
    margin: 48px auto 120px;
    padding: 24px;
    background: #fff;
    @include mat-elevation(8, #000, 0.8);
  }
  &--profile {
    margin: 48px auto 120px;
    padding: 24px;
    background: #fff;
    height: 100%;
    @include mat-elevation(8, #000, 0.8);
  }
  &--setting {
    margin: 48px auto 120px;
    padding: 24px;
    background: #fff;
    @include mat-elevation(8, #000, 0.8);
  }
  &--request {
    margin: 80px auto 120px;
  }
}

.swiper-container-wrapper {
  position: relative;
}

.swiper-container {
  position: static !important;
}

.swiper-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.swiper-button-next-hero {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  transform: rotate(135deg) translateY(50%);
  position: absolute;
  top: 50%;
  right: 2%;
  cursor: pointer;
}
.swiper-button-prev-hero {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 2%;
  cursor: pointer;
}

.swiper-button-next-school,
.swiper-button-prev-school,
.swiper-button-next-salon,
.swiper-button-prev-salon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(21, 21, 21, 0.6);
  background-image: none;
  position: relative;
  outline: none;
  transition: ease 0.5s;
  cursor: pointer;
  margin-left: 8px;
}
.swiper-button-next-school,
.swiper-button-next-salon {
  &:hover {
    transform: translateX(8px);
  }
}
.swiper-button-prev-school,
.swiper-button-prev-salon {
  &:hover {
    transform: translateX(-8px);
  }
}

.swiper-button-next-school::after,
.swiper-button-next-salon::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  transform: translateX(-25%) rotate(45deg);
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.swiper-button-prev-school::after,
.swiper-button-prev-salon::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 2px 0 0 2px;
  transform: translateX(25%) rotate(-45deg);
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.hero {
  .swiper-container {
    box-sizing: border-box;
    transform: translateX(0);
    padding: 0 !important;
    box-sizing: border-box;
  }
  .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle {
    margin: 8px;
  }
}

.swiper-container {
  padding: 0 16px !important;
  margin: 0 !important;
  transform: translateX(-24px);
  display: flex !important;
}

.swiper.s-wrapper .swiper-wrapper .swiper-slide {
  overflow: visible !important;
}

.swiper-slide {
  border-radius: 8px !important;
  border: 1px solid #e4e4e4;
  border-top: none;
  overflow: hidden !important;
  z-index: -1 !important;
  height: 100% !important;
  &:hover {
    @include mat-elevation(1, #303030, 0.38);
  }
}

.swiper-pagination {
  position: relative;
  bottom: 80px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #fff;
  position: absolute;
}

[class^='mat-list-'] {
  &:hover,
  &.active {
    background: rgba(255, 255, 255, 0.04);
  }
}

.mat-dialog-container {
  overflow: visible !important;
}

.mat-chip,
.mat-standard-chip {
  background: #fafafa !important;
  border: 1px solid #e4e4e4 !important;
  padding: 7px 14px !important;
  border-radius: 4px !important;
  font-weight: 400 !important;
}

.ql-container {
  p {
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
}

.ql-editor .ql-align-center {
  margin-top: 24px;
}

iframe.ql-video {
  width: 40vw;
  height: 22vw;
  @include sp {
    width: 80vw;
    height: 45vw;
  }
}

.hero__star {
  img {
    width: 2.5rem;
  }
}
