@import '~@angular/material/theming';
@import 'mixins';

.heading {
  margin: 24px auto;
  @include sp {
    margin: 0 auto 24px;
  }
  &__body {
    font-size: 16px;
    text-align: center;
    @include sp {
      font-size: 14px;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  @include sp {
    gap: 8px;
  }
  &__title {
    font-size: 17px;
    font-weight: normal;
    @include sp {
      font-size: 13px;
    }
  }
  &__body {
    @include sp {
      font-size: 13px;
    }
  }
}

.actions {
  display: grid;
  gap: 16px;
  padding: 16px;
  @include sp {
    gap: 8px;
    padding: 8px;
  }
  button {
    width: 100%;
    @include sp {
      font-size: 13px;
    }
    &:nth-of-type(2) {
      background: linear-gradient(60deg, #40c4ff, #00a1dd);
      color: #fff;
      &.disabled {
        background: rgb(242, 242, 242);
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}

.login {
  &__head {
    text-align: center;
    margin: 24px 0 48px;
  }
  &__text {
    text-align: center;
  }
  &__btn {
    display: block;
    height: 48px;
    width: 80%;
    margin: 16px auto;
    padding: 0 25px;
    border-radius: 30px;
    line-height: 48px;
    color: #212121;
    transition: ease-in-out 0.3s;
    &--google {
      border: 1px solid #212121;
      @include sp {
        border-left: 2px solid #4285f4;
        border-top: 2px solid #db4437;
        border-right: 2px solid #f4b400;
        border-bottom: 2px solid #0f9d58;
      }
    }
    &--twitter {
      border: 1px solid #212121;
      margin-bottom: 48px;
      @include sp {
        border: 2px solid #2aa1f1;
      }
    }
    &--google:hover {
      cursor: pointer;
      border-left: 2px solid #4285f4;
      border-top: 2px solid #db4437;
      border-right: 2px solid #f4b400;
      border-bottom: 2px solid #0f9d58;
    }
    &--twitter:hover {
      cursor: pointer;
      border: 2px solid #2aa1f1;
    }
  }
}
