@import '~@angular/material/theming';
@import 'mixins';

.heading {
  margin: 24px auto 48px;
  @include sp {
    margin: 16px auto;
  }
  &__icon {
    font-size: 48px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0 auto 16px;
    @include sp {
      font-size: 32px;
    }
  }
  &__body {
    font-size: 16px;
    text-align: center;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  &__title {
    font-size: 17px;
    font-weight: normal;
    @include sp {
      font-size: 14px;
    }
  }
}

.actions {
  display: grid;
  gap: 16px;
  padding: 16px;
  button {
    width: 100%;
    &:nth-of-type(2) {
      background: linear-gradient(60deg, #40c4ff, #00a1dd);
      color: #fff;
      margin-bottom: 24px;
      &.disabled {
        background: rgb(242, 242, 242);
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}
