@import '~@angular/material/theming';

.wrapper {
  position: relative;
}

.heading {
  margin-bottom: 24px;
  &__top {
    font-family: 'Josefin Sans';
    font-size: 24px;
    text-align: center;
    width: 100%;
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    padding: 16px;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
    @include mat-elevation(4);
  }
  &__body {
    font-size: 16px;
    text-align: center;
    padding: 48px 0 24px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
