@import 'mixins';

.section-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
  @include sp {
    font-size: 22px;
    padding-left: 16px;
  }
}

.article {
  display: flex;
  flex-flow: column;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  border-top: none;
  overflow: hidden;
  cursor: pointer;
  &:hover &__thumbnail {
    filter: brightness(80%);
  }
  @include sp {
    padding: 0;
  }
  &__thumbnail {
    padding: 0;
    margin-bottom: 16px;
    border-radius: 6px 6px 0 0;
    transition: 0.5s ease;
    @include sp {
      margin-bottom: 8px;
    }
    img {
      border-radius: 6px 6px 0 0;
      vertical-align: bottom;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 16px;
    font-weight: normal;
    color: rgba(#303030, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    padding: 0 16px;
    @include sp {
      font-size: 13px;
      padding: 0 8px;
    }
  }
  &__name {
    font-size: 13px;
    opacity: 0.38;
    padding: 8px 16px;
    @include sp {
      padding: 4px 8px;
    }
  }
}
