<div class="container">
  <h2 class="section-title">おすすめ</h2>
</div>

<swiper [config]="config" [(index)]="index">
  <div class="swiper-slide" *ngFor="let article of articles">
    <div class="article">
      <a
        routerLink="/article-detail/{{ article?.id }}"
        class="article__thumbnail"
      >
        <img [src]="article?.thumbnailURL" alt="" />
      </a>
      <div class="article__body">
        <a class="article__title">{{ article?.title }}</a>
        <p class="article__name">
          {{ article.name }}
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="uiService.loading">
    <mat-progress-spinner
      mode="indeterminate"
      color="primary"
      [diameter]="40"
    ></mat-progress-spinner>
  </ng-container>
</swiper>

<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="100"
  (scrolled)="searchArticles()"
  [horizontal]="true"
></div>
