<h2>おすすめ</h2>

<mat-card *ngFor="let article of articles">
  <div class="article">
    <a
      routerLink="/article-detail/{{ article?.id }}"
      class="article__thumbnail"
    >
      <img [src]="article?.thumbnailURL" alt="" />
      <div class="article__icon">
        <mat-icon>exit_to_app</mat-icon>
      </div>
    </a>
    <div class="article__body">
      <a class="article__title">{{ article?.title }}</a>
      <p class="article__category">{{ article?.category }}</p>
      <p class="article__date">
        {{ article?.createdAt | date: 'yyyy/MM/dd' }} UP
      </p>
    </div>
  </div>
</mat-card>
