<mat-divider></mat-divider>
<ng-container *ngIf="comments$ | async as comments; else default">
  <h2 class="title">{{ comments.length }}件のコメント</h2>
</ng-container>
<ng-template #default>
  <h2 class="title">
    コメントはまだありません。最初のコメントを投稿しませんか？
  </h2>
</ng-template>
<div class="comment" *ngIf="user$ | async as user">
  <div class="comment__body">
    <figure
      class="comment__avatar"
      [style.background-image]="'url(' + user.photoURL + ')'"
    ></figure>

    <form (ngSubmit)="submit()">
      <mat-form-field>
        <textarea
          matInput
          placeholder="参加した感想やサービスへの質問など、公開コメントを入力"
          [formControl]="commentForm"
          #body
          autocomplete="off"
          required
          matTextareaAutosize
        ></textarea>
        <button mat-icon-button matSuffix [disabled]="commentForm.invalid">
          <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="commentForm.hasError('required')"
          >必須入力です</mat-error
        >
        <mat-error *ngIf="commentForm.hasError('maxlength')"
          >最大文字数を超えています</mat-error
        >
        <mat-hint align="end"
          >{{ commentForm.value.length }}/400文字まで</mat-hint
        >
      </mat-form-field>
    </form>
  </div>
</div>

<mat-divider></mat-divider>
